<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <h2>Iniciar sesión</h2>
    <div class="form-group">
      <input formControlName="username" type="text" placeholder="Usuario es 123" class="form-control">
    </div>
    <div class="form-group">
      <input formControlName="password" type="password" placeholder="Contraseña es 123" class="form-control">
    </div>
    <button type="submit" class="login-button">Entrar</button>
  </form>
</div>
