<div class="login-container">
  <div class="img-container">
    <img class="centered-image" src="/assets/img/JobgoIco.jpg" alt="JobGo Icono" width="70%">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
      <h2 class="login-form__title">Iniciar sesión</h2>
      <div class="form-group">
        <input formControlName="username" type="text" placeholder="Nombre de Usuario" class="form-control">
        <div *ngIf="loginForm.controls['username'].invalid && loginForm.controls['username'].touched" class="error-message">
          <span *ngIf="loginForm.controls['username'].errors?.required">El nombre de usuario es requerido.</span>
          <span *ngIf="loginForm.controls['username'].errors?.email">Ingrese un correo válido.</span>
        </div>
      </div>
      <div class="form-group">
        <input formControlName="password" type="password" placeholder="Contraseña" class="form-control">
        <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched" class="error-message">
          <span *ngIf="loginForm.controls['password'].errors?.required">La contraseña es requerida.</span>
          <span *ngIf="loginForm.controls['password'].errors?.minlength">La contraseña debe tener al menos 6 caracteres.</span>
        </div>
      </div>
      <button type="submit" class="login-button" [disabled]="loading">
        <ng-container *ngIf="loading; else buttonText">
          <span class="spinner"></span>
        </ng-container>
        <ng-template #buttonText>Entrar</ng-template>
      </button>
    </form>
  </div>
</div>
